PROD=false

DB_HOST=SIGEMSQL
DB_USER=userturnos
DB_PASS=turnero16
DB_NAME=info
DB_PORT=
DB_CHARSET=utf8

TOKEN=AE6C6B4D5B78B3BBAB80853F9F13412A2FAF65CE

DB_FORMULARIO_TABLE=formmaker_formulario
DB_RESPUESTAS_TABLE=formmaker_respuestas
DB_LOG_TABLE=formmaker_log

PATH_FILE_LOCAL=true
